<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>RegistrationUser</servlet-name>
        <servlet-class>controller.RegistrationUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>controller.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tolet_Registration</servlet-name>
        <servlet-class>controller.Tolet_Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToletDelete</servlet-name>
        <servlet-class>controller.ToletDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToletUpdate</servlet-name>
        <servlet-class>controller.ToletUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Toletview</servlet-name>
        <servlet-class>controller.Toletview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sell_Registration</servlet-name>
        <servlet-class>controller.Sell_Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellDelete</servlet-name>
        <servlet-class>controller.SellDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sellview</servlet-name>
        <servlet-class>controller.Sellview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellUpdate</servlet-name>
        <servlet-class>controller.SellUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileUpdate</servlet-name>
        <servlet-class>controller.ProfileUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyShow</servlet-name>
        <servlet-class>controller.BuyShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnrentShow</servlet-name>
        <servlet-class>controller.OnrentShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Onrentview</servlet-name>
        <servlet-class>controller.Onrentview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buyview</servlet-name>
        <servlet-class>controller.Buyview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToletReview</servlet-name>
        <servlet-class>controller.ToletReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellReview</servlet-name>
        <servlet-class>controller.SellReview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationUser</servlet-name>
        <url-pattern>/RegistrationUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tolet_Registration</servlet-name>
        <url-pattern>/Tolet_Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToletDelete</servlet-name>
        <url-pattern>/ToletDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToletUpdate</servlet-name>
        <url-pattern>/ToletUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Toletview</servlet-name>
        <url-pattern>/Toletview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sell_Registration</servlet-name>
        <url-pattern>/Sell_Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellDelete</servlet-name>
        <url-pattern>/SellDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sellview</servlet-name>
        <url-pattern>/Sellview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellUpdate</servlet-name>
        <url-pattern>/SellUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileUpdate</servlet-name>
        <url-pattern>/ProfileUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyShow</servlet-name>
        <url-pattern>/BuyShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnrentShow</servlet-name>
        <url-pattern>/OnrentShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Onrentview</servlet-name>
        <url-pattern>/Onrentview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buyview</servlet-name>
        <url-pattern>/Buyview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToletReview</servlet-name>
        <url-pattern>/ToletReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellReview</servlet-name>
        <url-pattern>/SellReview</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DH_home.html</welcome-file>
    </welcome-file-list>
</web-app>
